* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.light-theme {
    ::selection {
        background-color: #2c2c2c;
        color: #ecebe6;
    }
    background-color: #ecebe6;
    color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s ease-in-out;
    .main__container-light {
        background-color: #f6f6f6;

        width: 60vw;

        padding: 60px;
        margin: 10%;

        border-radius: 40px;
        border: 2px solid #EBE9E6;

        text-align: center;
        transition: .5s ease-in-out;
        &_text-light {
            font-size: 2.5rem;
            margin: 30px 0;
            transition: .5s ease-in-out;
        }
        &_button-light {
            text-decoration: none;
            font-size: 1.25rem;

            padding: 10px 15px;
            margin: 20px 0;

            background-color: #FFFFFF;
            color: #2c2c2c;

            border-radius: 40px;
            border: 2px solid #EBE9E6;

            transition: 0.2s ease-in-out;
        }
        &_button-light:hover {
            ::selection {
                background-color: #FFFFFF;
                color: #2c2c2c;
            }

            background-color: #2c2c2c;
            color: #FFFFFF;

            transition: 0.2s ease-in-out;
        }
    }
}

.dark-theme {
    ::selection {
        background-color: #ecebe6;
        color: #2c2c2c;
    }
    background-color: #2b2a2a;
    color: #ecebe6;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s ease-in-out;
    .main__container-dark {
        background-color: #383432;

        width: 60vw;

        padding: 60px;
        margin: 10%;

        border-radius: 40px;
        border: 2px solid #423D3C;

        text-align: center;

        transition: .5s ease-in-out;
        &_text-dark {
            font-size: 2.5rem;
            margin: 30px 0;
            transition: .5s ease-in-out;
        }
        &_button-dark {
            text-decoration: none;
            font-size: 1.25rem;

            padding: 10px 15px;
            margin: 20px 0;

            background-color: #2c2c2c;
            color: #ecebe6;

            border-radius: 40px;
            border: 2px solid #423D3C;

            transition: 0.2s ease-in-out;
        }
        &_button-dark:hover {
            ::selection {
                background-color: #ecebe6;
                color: #2c2c2c;
            }

            background-color: #ecebe6;
            color: #2c2c2c;

            transition: 0.2s ease-in-out;
        }
    }
}

@media screen and (max-width: 600px) {
    body.light-theme {
        .main__container-light {
            width: 90%;
            height: 80%;
            &_text-light {
                font-size: 1.25rem;
            }
            &_button-light {
                font-size: 1rem;
            }
        }
    }
    body.dark-theme {
        .main__container-dark {
            width: 90%;
            height: 80%;
            &_text-dark {
                font-size: 1.25rem;
            }
            &_button-dark {
                font-size: 1rem;
            }
        }
    }
}
