* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

// Variables 

$main: #424A57;
$headerText: #E1E1E1;
$text: rgba(0, 0, 0, 0.87);
$heroBg: #F6F8FBE5;


// 

body {
    background-color: white;
    color: $text;

    width: 100%;
    .header {
        background-color: $main;

        padding: 50px 100px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        &__nav {
            &_item {
                font-size: 24px;
                font-weight: 700;

                color: white;
                text-decoration: none;

                padding-right: 32px;
            }

            &_item:hover {
                text-decoration: underline;
            }
        }
    }
    .main {
        .hero {
            background-color: $heroBg;
            
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 100px;
            &__image {
                img {
                    width: 590px;
                    height: 590px;
                    object-fit: cover;
                    object-position: 0 100%;
                }
            }
            &__text {
                padding-left: 60px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                &_title {
                    font-size: 54px;
                    font-weight: 700;

                    color: $main;
                    margin: 32px 0;
                }
                &_description {
                    font-size: 27px;
                    margin: 32px 0;
                }
                &_button {
                    background-color: #0096A7;
                    border: 1px solid #0096A7;
                    color: white;

                    text-transform: uppercase;
                    text-decoration: none;

                    padding: 16px 32px;
                    border-radius: 50px;
                    margin: 32px 0;
                    
                    transition: .3s ease;
                }
                &_button:hover {
                    background-color: white;
                    color: #0096A7;

                    border: 1px solid #0096A7;

                    transition: .3s ease;
                }
            }
        }
        .features {
            background-color: white;
            color: $text;
            
            padding: 0 100px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            &__element {
                .features__header {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    font-size: 24px;
                    color: $main;
                    gap: 16px;
                }
                .features__body {
                    &_description {
                        font-size: 18px;
                        padding-left: 60px;
                    }
                }
            }
        }
        .benefits {
            padding: 85px 100px;
            &__title {
                font-size: 48px;
                font-weight: 700;

                color: $main;
                padding: 32px 0;
            }
            &__items {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                gap: 20px;
                .benefits__item {
                    &_image {
                        width: 350px;
                        height: 267px;
                    }
                    &_title {
                        font-size: 24px;
                        font-weight: 700;

                        color: $main;

                        padding: 32px 0 0 0;
                    }
                    &_description {
                        font-size: 18px;
                        padding: 32px 0 0 0;
                    }
                }
            }
        }
    }
    .footer {
        background-color: rgba(66, 74, 87, 0.5);
        color: white;

        padding: 50px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__info {
            font-size: 24px;
            font-weight: 700;
        }
        &__social {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 24px;
            &_link {
                cursor: pointer;
            }
        }
    }
}